@model Hospital_Managment_System.Models.Patient

@{
    ViewData["Title"] = "Patient Details";
}

<h1>Patient Details</h1>

<div>
    <h4>Patient Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
        <dd class="col-sm-9">@Model.DateOfBirth?.ToShortDateString()</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EmergencyContact)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EmergencyContact)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DateTimeOfAdmission)</dt>
        <dd class="col-sm-9">@Model.DateTimeOfAdmission?.ToString("g")</dd>
    </dl>
</div>

<div>
    @if (User.IsInRole("Patient") && User.Identity.Name == Model.Email)
    {
        <a asp-action="MyDetails">Back to List</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index">Back to List</a>
    }
    @if (User.IsInRole("Admin") || (User.IsInRole("Patient") && User.Identity.Name == Model.Email))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }
</div>
