@model Hospital_Managment_System.Models.Doctor

@{
    ViewData["Title"] = "Doctor Details";
}

<h1>Doctor Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FirstName @Model.LastName</dd>

        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.BirthDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Gender</dt>
        <dd class="col-sm-10">@Model.Gender.ToString()</dd>

        <dt class="col-sm-2">Specialization</dt>
        <dd class="col-sm-10">@Model.Specialization</dd>

        <dt class="col-sm-2">Department</dt>
        <dd class="col-sm-10">@Model.Department?.Name</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <!-- Status -->
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
